<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live chat</title>
    <link rel="stylesheet" href="../styles/index.css">
    <script src="../scripts/script.js"></script>
    <script src="../scripts/login.js"></script>
    <script src="../scripts/logout.js"></script>
</head>
<body>
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="username">User:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <div id="addContactModal" class="modal">
        <div class="modal-content">
            <h2>Agregar Contacto</h2>
            <form id="addContactForm">
                <label for="newContactUsername">Usuario:</label>
                <input type="text" id="newContactUsername" name="newContactUsername" required>
                <br>
                <button type="submit">Okay</button>
                <button type="button" id="cancelAddContactButton">Cancelar</button>
            </form>
        </div>
    </div>
    <button id="logout-button">Log out</button>
    <div class="container">
        <div class="left-container">
            <div class="contacts-container">
                <div class="contact-placeholder">
                    Contacto 1
                </div>
                <div class="contact-placeholder">
                    Contacto 2
                </div>
                <div class="contact-placeholder">
                    Contacto 3
                </div>
                
                <!-- Agrega más placeholders según sea necesario -->
            </div>
            <button id="add-contact-button">Add Contact</button>
        </div>
    
        <div class="right-container">
            <div id="chat-container">
                <!-- Mensajes del chat -->
            </div>
            
            <div id="input-container">
                <input type="text" id="message-input" placeholder="Write a message...">
                <button id="send-button">Enviar</button>
            </div>
        </div>
    </div>

</body>
</html>
